<div class="page-header">
  <h1>
    Cousines
    <a href="/cousines/new" class="btn btn-lg btn-success">New Cousine</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Actions</th>
      </tr>

      <% @cousines.each do |cousine| %>
      <tr>
        <td>
          <a href="/cousines/<%= cousine.id %>" class="btn btn-primary">Show</a>
          <a href="/cousines/<%= cousine.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_cousine/<%= cousine.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
