<div class="page-header">
  <h3>Cousine #<%= @cousine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cousines" class="btn btn-primary">
        Back
      </a>
      <a href="/cousines/<%= @cousine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cousine/<%= @cousine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
